div(class="message")
    if message=="success"
        div(class="alert success") installation succeeded
            span(class="closebtn") &times;
    else if message=="error"
        div(class="alert error") an error occurred
            span(class="closebtn") &times;