div(class="message")
    if message
        - var display;
        if message=="success"
            - display = "installation succeeded";
        else if message=="error"
            - display = "an error occurred"
        div(class=`alert ${message}`) #{display}
            span(class="closebtn") &times;
